/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/code/*
/.well-known
/public/.well-known
/cgi-bin
composer.phar
index.php
*.sqlite
error_log
.htaccess
public/error_log
/public/avatar
/public/avatar/
